<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- "Production" config for Dylan web playground.
     See http/server/config/config.xml for documentation. -->

<http-server>

  <server working-directory="/home/cgay/dylan/workspaces/playground/web-playground"
          debug="no"
          use-default-virtual-host="yes"
          />

  <listener address="0.0.0.0" port="80" ssl="no"/>

  <dsp reparse-templates="yes" />  <!-- until things settle down -->

  <debug-log
      name="http.server"
      level="trace"
      location="/home/cgay/dylan/workspaces/playground/live/server.log"/>
  <error-log
      name="http.server.debug"
      additive="yes" />

  <request-log
      name="http.server.requests"
      location="/home/cgay/dylan/workspaces/playground/live/request.log"
      additive="no"
      max-size="20000000" />

</http-server>
