[Unit]
Description=Dylan Playground
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/opt/dylan-playground/live/bin/dylan-playground --config /opt/dylan-playground/live/config.xml --working-directory /opt/dylan-playground/live

[Install]
WantedBy=multi-user.target
