[Unit]
Description=Dylan Playground
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=cgay
ExecStart=/usr/bin/authbind /home/cgay/dylan/workspaces/playground/live/bin/web-playground --config /home/cgay/dylan/workspaces/playground/live/config.live.xml

[Install]
WantedBy=multi-user.target
